<div class="pull-left pad-right text-center">
  <img src="/img/districts@1x.png" width="180" height="190">
</div>
<p class="lead">
  Enter your address to find your council, school, and
  other districts.
</p>
<form method="get" action="/results" class="form-inline">
  <label for="address">Address:</label>
  <div class="input-append">
    <input type="text" id="address" name="address" placeholder="560 E. Third St">
    <span class="add-on">Lexington, KY</span>
  </div>
  <input type="submit" class="btn btn-primary" value="Search">
</form>
