.row-fluid
  .span2.text-center.offset2
    %img{height: "190", src: "/img/districts@1x.png", width: "180"}
  .span6
    %p.lead
      Enter your address to find your council, school, and
      other districts.
    = haml :search_form
- content_for :after_body do
  %script{type:"text/javascript", src:"https://maps.googleapis.com/maps/api/js?sensor=false"}
  %script{type: "text/javascript", src: "js/geolocation.js"}

