

<div class="row">
  <div class="span4" id="place-districts-wrapper" style="position:relative">
    <div class="place-districts-image"></div>
  </div>
  <div class="span8">
    <p class="lead">Look up your address to find what council, school, and
      other districts you're in.
    </p>
  </div>
</div>
<div class="row">
  <div class="span8 offset4">
    <form method="get" action="/results" class="form-vertical">
      <fieldset>
        <div class="control-group">
          <label class="control-label">Address</label>
          <div class="controls">
            <div class="input-append">
              <input type="text" id="appendedInput" name="address" placeholder="560 E. Thrid St" >
              <span class="add-on">Lexington, KY</span>
            </div>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
