<h1>What's my district</h1>

<form method="get" action="/results">
  <fieldset>
    <label>Search</label>
    <input type="text" name="address" placeholder="560 E. Thrid St Lexington, KY" />
    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>
