<html>
<head>
  <title>What's My District</title>
<link rel="stylesheet" href="css/bootstrap.css" type="text/css" >
<link rel="stylesheet" href="css/application.css" type="text/css" >
</head>
<body>
  <section class="container">
    <div class="row">
      <div class="span8 offset2">
        <h1 class="text-center">What's My District</h1>
      </div>
    </div>
    <%= yield %>
  </section>
</body>
</html>
