<html>
<head>
  <title>What's My District</title>
<link rel="stylesheet" href="css/bootstrap.css" type="text/css" >
<link rel="stylesheet" href="css/application.css" type="text/css" >
</head>
<body>
  <section class="container">
    <div class="row">
      <div class="span12">
        <h1 class="text-center">What's My District</h1>
      </div>
    </div>
    <%= yield %>
    <section class="footer">
      <div class="row">
        <div class="span12">
          <p class="text-center">
          	Made by
          	<a href="http://openlexington.org" target="_blank">OpenLexington</a>
          	for the
          	<a href="http://hackforchange.org" target="_blank">National Day of Civic Hacking</a>
         	</p>
        </div>
    </section>
  </section>
</body>
</html>
