input#appendedInput {
  height: inherit !important;
}

.place-districts-wrapper {
	position:relative;
}
.place-districts-image {
	top:0px; right:20px;
	position:absolute;
	width:180px; 
	height:190px;
	background-image:url('../img/districts@1x.png'); 
	background-repeat: no-repeat;
    background-size: 180px 190px;
}

.footer {
	margin-top:40px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), 
only screen and (min-device-pixel-ratio: 2) {
    /* on retina, use image that's scaled by 2 */
	.place-districts-image {
	    background-image: url('../img/districts@1x.png');
	    background-size: 180px 190px;
	}
}